RewriteCond %{HTTP_HOST} ^shastrigal.net$
RewriteRule (.*) http://www.shastrigal.net$1 [R=301,L]

Redirect 301 /711vqtod2fl-_sl1084_-2/ http://www.shastrigal.net/
Redirect 301 /8373-2/ http://www.shastrigal.net/
Redirect 301 /author/admin/page/3/ http://www.shastrigal.net/
Redirect 301 /blog-detail.html http://www.shastrigal.net/
Redirect 301 /category/types-of-homams/ http://www.shastrigal.net/
Redirect 301 /contact/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/ashwarooda-sampatkari-homam/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/chennai-tmple/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/chennai-tmple/attachment/1/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/chennai-tmple/attachment/12/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/chennai-tmple/attachment/17/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/chennai-tmple/attachment/18/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/chennai-tmple/attachment/2/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/chennai-tmple/attachment/21/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/chennai-tmple/attachment/4/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/chennai-tmple/attachment/6/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/chennai-tmple/attachment/7/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/chennai-tmple/attachment/8/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/chennai-tmple/attachment/9/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/homam/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/homam/18102012363-225x300/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/homam/20150211_085249-300x169/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/homam/20150429_184751-300x225/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/homam/20150429_184751-300x225-1/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/homam/goddess-bala-tripura-sundari/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/homam/goddess-bala-tripura-sundari11-227x300/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/homam/goddess-pratyangira1-234x300/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/homam/goddess-shymala1-208x300/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/homam/mahaswami-300x198/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/homam/pooja-sevice/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/homam/sastrigal/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/homam_album/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/homam-at-home/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/homam-at-home/feed/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/homam-at-home/img-20150504-wa0013-300x168-2/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/maha-chandi-homam/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/sri-maha-varahi-photos/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/sri-maha-varahi-photos/img_0068/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/sri-maha-varahi-photos/rajamathangi-homam/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/text/ http://www.shastrigal.net/
Redirect 301 /dt_gallery/text/pooja/ http://www.shastrigal.net/
Redirect 301 /dt_gallery_category/chennai-temple/ http://www.shastrigal.net/
Redirect 301 /dt_gallery_category/homam/ http://www.shastrigal.net/
Redirect 301 /gallery/ http://www.shastrigal.net/
Redirect 301 /gallery/chennai-temple/ http://www.shastrigal.net/
Redirect 301 /gallery/homam-album http://www.shastrigal.net/
Redirect 301 /gallery/homam-album/ http://www.shastrigal.net/
Redirect 301 /gallery/homam-album/page/2/ http://www.shastrigal.net/
Redirect 301 /gallery/page/2/ http://www.shastrigal.net/
Redirect 301 /gallery/page/3/ http://www.shastrigal.net/
Redirect 301 /gallery/page/4/ http://www.shastrigal.net/
Redirect 301 /gallery/page/5/ http://www.shastrigal.net/
Redirect 301 /havan-2-2/ http://www.shastrigal.net/
Redirect 301 /homam http://www.shastrigal.net/
Redirect 301 /homam/ http://www.shastrigal.net/
Redirect 301 /homam-videos/ http://www.shastrigal.net/
Redirect 301 /house_warming/ http://www.shastrigal.net/
Redirect 301 /house_warming1/ http://www.shastrigal.net/
Redirect 301 /image2/ http://www.shastrigal.net/
Redirect 301 /img-0575/ http://www.shastrigal.net/
Redirect 301 /read-palms-step-9/ http://www.shastrigal.net/
Redirect 301 /sample-page/ http://www.shastrigal.net/
Redirect 301 /sankara-sankara-tv-live-program.html http://www.shastrigal.net/
Redirect 301 /sankara-tv-live/ http://www.shastrigal.net/
Redirect 301 /sankara-tv-live-program http://www.shastrigal.net/
Redirect 301 /sankara-tv-live-program/ http://www.shastrigal.net/
Redirect 301 /tag/karthya-veeryarjuna-homam/ http://www.shastrigal.net/
Redirect 301 /tag/maha-lakshmi-homam/ http://www.shastrigal.net/
Redirect 301 /tag/samskaras/ http://www.shastrigal.net/
Redirect 301 /tag/sankara-tv-live/ http://www.shastrigal.net/
Redirect 301 /tag/shastrigal/ http://www.shastrigal.net/
Redirect 301 /tag/sudarsana-homam/ http://www.shastrigal.net/
Redirect 301 /tag/vasthu-homam/ http://www.shastrigal.net/
Redirect 301 /tag/vastu-homam/ http://www.shastrigal.net/
Redirect 301 /types-of-homams http://www.shastrigal.net/
Redirect 301 /types-of-homams/ http://www.shastrigal.net/
Redirect 301 /types-of-homams/page/2/ http://www.shastrigal.net/
Redirect 301 /types-of-homams/page/3/ http://www.shastrigal.net/
Redirect 301 /url/ http://www.shastrigal.net/
Redirect 301 /varahi http://www.shastrigal.net/
Redirect 301 /videos/ http://www.shastrigal.net/
Redirect 301 /wp-admin/admin-ajax.php http://www.shastrigal.net/
Redirect 301 /wp-content/plugins/ http://www.shastrigal.net/
Redirect 301 /wp-content/plugins/wp-miniaudioplayer/ http://www.shastrigal.net/
Redirect 301 /wp-content/plugins/wp-miniaudioplayer/css/ http://www.shastrigal.net/
Redirect 301 /wp-content/plugins/wp-miniaudioplayer/css/font/ http://www.shastrigal.net/
Redirect 301 /wp-content/plugins/wp-miniaudioplayer/css/font/DroidSansMono/ http://www.shastrigal.net/
Redirect 301 /wp-content/plugins/wp-miniaudioplayer/css/font/mbAudioFont/ http://www.shastrigal.net/
Redirect 301 /wp-content/plugins/wp-miniaudioplayer/css/font/mbAudioFont/master/ http://www.shastrigal.net/
Redirect 301 /wp-content/plugins/wp-miniaudioplayer/images/ http://www.shastrigal.net/
Redirect 301 /wp-content/plugins/wp-miniaudioplayer/js/jquery.jplayer.swf http://www.shastrigal.net/
Redirect 301 /wp-content/plugins/wp-miniaudioplayer/languages/ http://www.shastrigal.net/
Redirect 301 /wp-content/plugins/wp-miniaudioplayer/languages/mbMiniAudioPlayer.pot http://www.shastrigal.net/
Redirect 301 /wp-content/plugins/wp-miniaudioplayer/map_download.php http://www.shastrigal.net/
Redirect 301 /wp-content/plugins/wp-miniaudioplayer/maptinymce/ http://www.shastrigal.net/
Redirect 301 /wp-content/uploads/2013/05/ http://www.shastrigal.net/
Redirect 301 /wp-content/uploads/2015/ http://www.shastrigal.net/
Redirect 301 /wp-content/uploads/2015/06/ http://www.shastrigal.net/
Redirect 301 /wp-content/uploads/2015/07/ http://www.shastrigal.net/
Redirect 301 /wp-content/uploads/2015/09/ http://www.shastrigal.net/
Redirect 301 /wp-content/uploads/2016/03/ http://www.shastrigal.net/
Redirect 301 /wp-content/uploads/2016/06/ http://www.shastrigal.net/
Redirect 301 /wp-content/uploads/2016/12/ http://www.shastrigal.net/
Redirect 301 /wp-content/uploads/2017/ http://www.shastrigal.net/
Redirect 301 /wp-content/uploads/2017/02/ http://www.shastrigal.net/
Redirect 301 /wp-content/uploads/wp-less/ http://www.shastrigal.net/
Redirect 301 /wp-content/uploads/wp-less/dt-the7/css/ http://www.shastrigal.net/
Redirect 301 /img/Homam11 /types-of-homams.html
Redirect 301 /dt_gallery/ /types-of-homams.html
Redirect 301 /ganapathi-atharva-seersha.html /ganapathi-atharva-sheersha.html
Redirect 301 /ganapathy-homam.html /ganapathi-homam.html
Redirect 301 /ganapathi-atharva-sheersha-homam.html /ganapathi-atharva-sheersha.html
Redirect 301 /ganapathi-homam-benefits.html /ganapathi-homam.html
Redirect 301 /maha-mrityunjaya-homam.html /mrityunjaya-homam.html
Redirect 301 /sri-maha-chandi-homam.html /chandi-homam.html
Redirect 301 /chandika-homam.html /chandi-homam.html


<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 seconds"
    ExpiresByType image/x-icon "access plus 2692000 seconds"
    ExpiresByType image/jpeg "access plus 2692000 seconds"
    ExpiresByType image/png "access plus 2692000 seconds"
    ExpiresByType image/gif "access plus 2692000 seconds"
    ExpiresByType application/x-shockwave-flash "access plus 2692000 seconds"
    ExpiresByType text/css "access plus 2692000 seconds"
    ExpiresByType text/javascript "access plus 2692000 seconds"
    ExpiresByType application/x-javascript "access plus 2692000 seconds"
    ExpiresByType text/html "access plus 600 seconds"
    ExpiresByType application/xhtml+xml "access plus 600 seconds"
</IfModule>


<IfModule mod_headers.c>
    <FilesMatch "\\.(ico|jpe?g|png|gif|swf|css|js)$">
        Header set Cache-Control "max-age=2692000, public"
    </FilesMatch>
    <FilesMatch "\\.(x?html?|php)$">
        Header set Cache-Control "max-age=600, private, must-revalidate"
    </FilesMatch>
    Header unset ETag
    Header unset Last-Modified
</IfModule>


<FilesMatch "(?i)^.*\.(ico|flv|jpg|jpeg|png|gif|js|css)$">
ExpiresActive On
ExpiresDefault A2592000
</FilesMatch>


